<div>
    <!-- <div>This is Body Component</div> -->

<!-- <app-databinding></app-databinding>
     <app-user-list></app-user-list>-->
<!-- <app-products-list></app-products-list>     -->
<!-- <app-custom-pipes></app-custom-pipes> -->
<!-- <app-employee-crud></app-employee-crud> -->
 <!-- <app-parent-demo></app-parent-demo> -->
<!-- <app-math-demo></app-math-demo> -->
 <!-- <app-http-demo1></app-http-demo1>
 <app-stock-list></app-stock-list> -->

 <!-- <app-commentlist></app-commentlist> -->
<!-- <app-employee-list></app-employee-list> -->

<!-- <app-observable-demo1></app-observable-demo1> -->

<!-- <app-observable-demo2></app-observable-demo2> -->

<!-- <app-observable-demo3></app-observable-demo3> -->

<!-- <app-signal-demo1></app-signal-demo1> -->

<!-- <app-signal-demo2></app-signal-demo2> -->

<!-- <app-dynamic-form></app-dynamic-form> -->


<!-- <app-demo></app-demo> -->

<router-outlet></router-outlet>


</div>