<div class="col-sm-10 offset-1 border border-3 rounded-3 p-4 mt-4 shadow">
    <div class="mb-3 text-start">
        <button class="btn btn-primary btn-sm mx-1" (click)="showAllEmployees()">All</button>
        <button class="btn btn-secondary btn-sm mx-1" (click)="showMaleEmployees()">Male</button>
        <button class="btn btn-secondary btn-sm mx-1" (click)="showFemaleEmployees()">Female</button>
    </div>
    <table class="table table-bordered table-striped text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (employee of employees; track employee.employeeId) {
            <tr>
                <td>{{ employee.employeeId }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.gender }}</td>
                <td>
                    <button class="btn btn-success btn-sm mx-1" (click)="openPopup(employee)">
                        <fa-icon [icon]="faEye"></fa-icon>
                        View
                    </button>
                    <button class="btn btn-danger btn-sm mx-1" (click)="deleteEmployee(employee.employeeId)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                        Delete
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayStyle }">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Employee Details</h4>
                </div>
                <div class="modal-body">
                    <p>Employee Id: {{ selectedEmployee?.employeeId }}</p>
                    <p>Name: {{ selectedEmployee?.name }}</p>
                    <p>Department: {{ selectedEmployee?.department }}</p>
                    <p>Salary: {{ selectedEmployee?.salary }}</p>
                    <p>Gender: {{ selectedEmployee?.gender }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closePopup()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
